<img src="../../assets/header2.jpeg" alt="WondersQatar 2024" class="img-responsive header">
<div class="row text-center top-nav">
  <div class="col-xs-2" *ngIf="isAdminLogin">
    <a routerLink="/cpadmin">CpAdmin</a>
  </div>
  <div class="col-xs-2">
    <a routerLink="/contactus">Contact Us</a>
  </div>
  <div class="col-xs-2">
    <a routerLink="/aboutus">About Us</a>
  </div>
  <div class="col-xs-2">
    <a routerLink="/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart (<span class="cart-number">{{ cartItems }}</span>)</a>
  </div>
  <div class="col-xs-2" *ngIf="isAdminLogin">
    <a routerLink="/orders"><span class="glyphicon glyphicon-briefcase"></span> Orders (<span class="cart-number">{{ orders }}</span>)</a>
  </div>
  <div class="col-xs-2">
    <a routerLink="/login/login" (click)="onLoginButton()">{{ isAdminLogin ? 'LogOut' : 'Sign-In'}}</a>
  </div>
</div>
<div class="row banner-row">
  <div class="col-xs-12">
    <img [src]="mainBannerUrl" class="banner" alt="Main banner">
  </div>
</div>
