<h1>Wonders 2024</h1>
<div class="row text-center">
  <div class="col-xs-2" *ngIf="isAdminLogin">
    <h4><a routerLink="/cpadmin">CpAdmin</a></h4>
  </div>
  <div class="col-xs-2">
    <h4><a routerLink="/contactus">Contact Us</a></h4>
  </div>
  <div class="col-xs-2">
    <h4><a routerLink="/aboutus">About Us</a></h4>
  </div>
  <div class="col-xs-2">
    <h4><a routerLink="/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart (<span class="cart-number">{{ cartItems }}</span>)</a></h4>
  </div>
  <div class="col-xs-2">
    <h4><a routerLink="/login/login" (click)="onLoginButton()">{{ isAdminLogin ? 'LogOut' : 'Sign-In'}}</a></h4>
  </div>
</div>
<h3>Banner</h3>
