  <div class="col-xs-2">
    <h4>{{itemIndex}}</h4>
  </div>
  <div class="col-xs-2">
    <img *ngIf="imageUrl" [src]="imageUrl" alt="Item photo" class="img-responsive">
  </div>
  <div class="col-xs-4">
    <h4>{{product.name}}</h4>
  </div>
  <div class="col-xs-2">
    <h4>{{product.price}}</h4>
  </div>
  <div class="col-xs-2">
    <h4><button class="btn btn-default" (click)="onDecItem()">-</button> {{cartItem.numOfItems}} <button class="btn btn-default" (click)="onIncItem()">+</button></h4>
  </div>
