<div class="container text-center">
  <div class="row">
    <div class="col-xs-12">
      <app-header></app-header>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-navbar></app-navbar>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-slideshow></app-slideshow>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-latest-products></app-latest-products>
    </div>
  </div>
  <div class="row" *ngFor="let cat of cats">
    <div class="col-xs-12">
      <app-cateogry [category]="cat" [catId]="cat.id"></app-cateogry>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-footer></app-footer>
    </div>
  </div>
</div>
